@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto shadow-lg p-2 bg-slate-200 text-green-900 hover:bg-green-600
        hover:text-white rounded-3xl hover:rounded-xl transition-all; 
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all 
        duration-100 scale-0 origin-left;
    }
}



.wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    width: 60%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    color: #fff;
    background: #323232;
    width: 100%;
}

caption {
    color: #fff;
    background: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

th,
td,
caption {
    padding: 1rem;
}

caption,
th {
    text-align: left;
}

th {
    background: hsl(0 0% 0% / .5);
}
th:hover {
    text-decoration: underline;
}

tr:nth-child(2n) {
    background: hsl(0 0% 0% / .1);
}

@media (max-width: 725px) {
    th {
        display: none;
    }

    td {
        display: block;
        padding: .75rem 1rem;
    }

    td::before {
        content: attr(data-cell) ': ';
        font-weight: 700;
        text-transform: capitalize;
    }
}

/* td:hover::before {
    content: 'Lorem Impsum sit dolor'; 
    position: absolute;
    background-color: hsl(0, 9%, 10%);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
  }

td:hover::before {
    display: block;
  } */